body{
    margin: 0%;
    padding: 0%;
}
.main-container{
    background-color: rgb(234, 231, 231);
    margin: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-basis: 20rem;
    box-shadow: 1px 1px 10px rgb(127, 215, 215);
}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.music-name{
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    justify-content: flex-end;
}
.icons{
    font-size:large;
    color: gray;
}
.music-name span{
    margin-top: 1em;
    color: gray;
    font-weight: bold;
}
.min-margin{
    margin: 0.3em;
}
.music-img{
  margin: auto;
  width: 80%;
  height: 80%;
  margin-bottom: 10%;
  box-shadow: 5px 5px 10px grey;
  
}
#file{
    width: 100%;
}
.music-time-dash{
    padding-right: 1rem;
    padding-left: 1rem;
}
.music-time{
    display: flex;
    justify-content: space-between;
    font-size: x-small;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    font-size: 150%;
    color: gray;
    align-items: center;
    padding-bottom: 10%;
}
.fa-circle-play{
    font-size:200%;
    color:rgb(77, 71, 71)
}
.music-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 10%;

}
.music-info{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 90%;
}
#curr-song{
    color: black;
}